<section class="portfolio" {{ id is not empty ? 'id="' ~ id ~'"' }}>

    <aside class="portfolio__block portfolio__block--aside">

        <div class="portfolio__block__wrapper">
            aa
        </div>

    </aside>

    <section class="portfolio__block portfolio__block--main">

        <div class="portfolio__block__wrapper">
            <div class="portfolio__items">
                {% for portfolio_item in portfolio_items %}
                <article class="portfolio__item">
                    <h1>{{ portfolio_item.title }}</h1>
                </article>
                {% endfor %}
            </div>
        </div>

    </section>

</section>