@charset "UTF-8";

///
// @name: portfolio
// @type: module
///

///
// 1. Shared - Must use mixins & functions
///
@import "tipicss-core/stylesheets/shared/*.scss";

@import "main/stylesheets/shared/*.scss";

@import "tipicss-module*/stylesheets/shared/*.scss";

@import "modules/*/stylesheets/shared/*.scss";
@import "groups/*/stylesheets/shared/*.scss";
@import "templates/*/stylesheets/shared/*.scss";


///
// 2. Helpers - Helper functions to get a value from a mapped setting.
///
@import "tipicss-core/stylesheets/helpers/*.scss";

@import "main/stylesheets/helpers/*.scss";

@import "tipicss-module*/stylesheets/helpers/*.scss";

@import "modules/*/stylesheets/helpers/*.scss";
@import "groups/*/stylesheets/helpers/*.scss";
@import "templates/*/stylesheets/helpers/*.scss";


///
// 3. Settings - All variables will be defined on the same level so we can share it in the whole project.
///
@import "tipicss-core/stylesheets/settings/*.scss";

@import "main/stylesheets/settings/*.scss";

@import "tipicss-module*/stylesheets/settings/*.scss";

@import "modules/*/stylesheets/settings/*.scss";
@import "groups/*/stylesheets/settings/*.scss";
@import "templates/*/stylesheets/settings/*.scss";


///
// 4. Tools - Mixins & functions for defining project styling should be defined here
///
@import "tipicss-core/stylesheets/tools/*.scss";

@import "main/stylesheets/tools/*.scss";

@import "tipicss-module*/stylesheets/tools/*.scss";

@import "modules/*/stylesheets/tools/*.scss";
@import "groups/*/stylesheets/tools/*.scss";
@import "templates/*/stylesheets/tools/*.scss";


///
// 5. Generic - Default tag style definitions for your app/module will be defined here. E.g. reset.css
///
@import "generic/*.scss";

///
// 6. Base - Typography and other global styling definitions should be defined here.
///
@import "base/*.scss";

///
// 7. Objects - Class-based selectors with undecorated design patterns i.e. layout definitions
///
@import "objects/*.scss";

///
// 8. Components - Specific UI components will be defined here.
///
@import "components/*.scss";

///
// 9. Utilities and helper classes with ability to override anything within the project. Usefull to define helper classes like: .hide
///
@import "utilities/*.scss";