.portfolio {
    min-height: 100vh;

    @include breakpoint(
        $min-width: viewport('tablet', 'min-width')
    ) {
        display: flex;
    }
}

.portfolio__block {
    padding: box-model('padding', 'base');
}

.portfolio__block__wrapper {
    flex-grow: 1;
    max-width: wrapper-model('default', 'max-width') / 2;
    margin-left: auto;
    margin-right: auto;

    .portfolio__block--aside & {
        margin-right: 0;
    }
}

.portfolio__block--aside {
    background-color: color('body', 'light');

    @include breakpoint(
        $max-width: viewport('phablet', 'max-width')
    ) {
        display: none;
    }


    @include breakpoint(
        $min-width: viewport('tablet', 'min-width')
    ) {
        display: flex;
        flex-grow: 1;
        .js-portfolio--is-ready & {
            transform: translateX(-100%);
        }
    }
}

.portfolio__block--main {

    @include breakpoint(
        $min-width: viewport('tablet', 'min-width')
    ) {
        flex-grow: 2;
    }
}

.portfolio__item {
    padding: box-model('padding', 'base');
    margin: box-model('margin', 'base') 0;
    background-color: color('body', 'light');
    border-radius: box-model('border-radius', 'small');

    .js-portfolio--is-ready & {
        opacity: 0;
        transition: (
            opacity 300ms ease-in-out 0ms
        );

        &.js-portfolio__item--is-visible {
            opacity: 1;
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}