{% extends "tipicss::/templates/default/index.twig" %}

{% block head %}

    {% include "tipicss_packages::/tipicss-core/partials/fg-loadcss.twig" with {
        stylesheets: [
            '/templates/default/stylesheets/index.css',
            '/groups/frontpage/stylesheets/index.css',
        ],
        include_javascript: true
    } %}

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="valign">
        <div class="valign__body">
            <div class="wrapper">
                <h1 class="display1">Welcome to Tipicss</h1>
                <p class="lead">Lightweight <strong>modular</strong> prototyping framework with OOCSS &amp ITCSS principles;</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    {% include "tipicss_packages::/tipicss-core/partials/svg-sprite-injector.twig" %}

    <script src="/main/javascripts/index.js"></script>
    <script src="/templates/default/javascripts/index.js"></script>
{% endblock %}