{% extends "tipicss::/templates/default/index.twig" %}

{% block content %}

    {% embed "tipicss::/modules/splash/partials/splash.twig" %}

        {% block splash__main %}
            <span class="heading-label">Gegroet vreemde!</span>
            <h1>Mijn naam is Thomas van der Velde en ik ben een front developer</h1>
            <p class="lead">Do nostrud labore Lorem eiusmod dolore ut amet dolor pariatur magna ullamco.</p>
            <a href="#portfolio" title="Kom meer over mij te weten">Meer weten!</a>
        {% endblock %}

        {% block splash__aside %}
            <img src="http://placehold.it/100x100]" alt="" class="splash__item__image" />
        {% endblock %}

    {% endembed %}

    {% include "tipicss::/modules/portfolio/partials/portfolio.twig" with {
        id: 'portfolio',
        portfolio_items: [
            {
                title: 'Hockey.nl'
            },
            {
                title: 'tipicss'
            },
            {
                title: 'yeoman'
            },
            {
                title: 'Hockey.nl'
            }
        ]
    } %}

{% endblock %}


{% block head %}

    {% include "tipicss_packages::/tipicss-core/partials/fg-loadcss.twig" with {
        stylesheets: [
            '/templates/default/stylesheets/index.css',
            '/groups/frontpage/stylesheets/index.css',
            '/modules/splash/stylesheets/index.css',
            '/modules/portfolio/stylesheets/index.css',
        ],
        include_javascript: true
    } %}

{% endblock %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    {% include "tipicss_packages::/tipicss-core/partials/svg-sprite-injector.twig" %}

    <script src="/main/javascripts/jquery.js"></script>
    <script src="/main/javascripts/jquery-visible.js"></script>

    <script src="/modules/portfolio/javascripts/index.js"></script>

    <script src="/groups/frontpage/javascripts/index.js"></script>
{% endblock %}