{% extends "tipicss::/templates/default/index.twig" %}

{% block head %}
    <link rel="preload" href="/groups/frontpage/stylesheets/index.css" as="style" onload="null;this.rel='stylesheet'" />

    <noscript>
        <link rel="stylesheet" href="/groups/frontpage/stylesheets/index.css" />
    </noscript>


{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="splash-blocks">
        <section class="splash-blocks_item">
            <div class="splash-blocks_item_wrapper">
                <h1 class="display1">Gegroet vreemde.</h1>
                <hr>
                <p class="lead">Maak kennis</p>
            </div>
        </section>
    </div>

    <div class="splash-blocks">
        <section class="splash-blocks_item">
            <div class="splash-blocks_item_wrapper">
                <h1>aaa</h1>
            </div>
        </section>
        <section class="splash-blocks_item splash-blocks_item--light">
            <div class="splash-blocks_item_wrapper">
                <h1>aaa</h1>
            </div>
        </section>
    </div>

    <div class="splash-blocks">
        <section class="splash-blocks_item splash-blocks_item--dark">
            <div class="splash-blocks_item_wrapper">
                <h1 class="display1">Gegroet vreemde.</h1>
                <hr>
                <p class="lead">Maak kennis</p>
            </div>
        </section>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    <script src="/main/javascripts/index.js"></script>
    <script src="/templates/default/javascripts/index.js"></script>
    <script src="/groups/frontpage/javascripts/index.js"></script>
{% endblock %}